
:root{
    --color1:white;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap'); 

body{
    background-image: linear-gradient(to top,rgb(81, 122, 105),rgb(129, 192, 129));
    margin: 0%;  
}
header{
    text-align: center;
    background-image:linear-gradient(to top, green, rgb(37, 73, 37));
    margin: 0px;
    padding-top: 15px;
    color: white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.336);   
}
main{
    background-color: white;
    padding: 10px;
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.301);
}
main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
}
main iframe{
    width: 100%;
    max-width: 560px;
}
div{
    text-align: center;
}
div.line{    
    color : rgb(194, 221, 187);
}
input{
    background-color: transparent;
    border: none;
    color: rgb(187, 247, 187);
    padding: 10px;
    width: 24%;
    display: inline;
    margin: 0px;   
}
input:hover{
    background-color: rgb(21, 88, 63);
    padding: 10px;
    border-radius: 10px 0px;
    color: aquamarine;
    transition: 0.2s ease-in;
}
aside{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
aside > h3{
    background-color: rgb(1, 66, 1);
    padding: 10px;
    color: white;
    margin:-10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
p{
    text-align: justify;
    text-indent: 30px;   
}
p.center{
    text-align: center;
}
ul{
    text-align: left;
    columns: 2;  
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    padding-bottom: 10px;
}
abbr{
    text-decoration: none;
    
}
iframe{
    border-radius: 10px;
}